{% load static %}

<!DOCTYPE html>

<html>

    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Budget App</title>
        
       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        
        <nav>
            <div class="nav-wrapper">
                <a href='{% url "index" %}' class='brand-logo center'>Hi, {{ user }}</a>
                <ul class="right">
                    <li><a href='{% url "logout" %}' class='btn'>Logout</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="section">
            <div class="row">
                <form class="col s12" action='{% url "add item" %}' method='post'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="container center">
                            <h3 class='center'>Your total budget is: <span style="color:green;">{{budget}}</span> dollars</h3>
                            <h3 clas='center'>You've spent a total of : <span style="color:red;">{{expenses}}</span> dollars</h3>
                            <br>
                            <br>
                            <div class="input-field col s3">
                                <input placeholder="Expense name" name="expense_name" id='expense_name' type='text' class='validate'>
                                <label for='expense_name'>Expense name</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Amount' name='cost' id='cost' type='text' class='validate'>
                                <label for='cost'>Amount</label>
                            </div>
                            <div class="input-field col s3">
                                <input placeholder='Date of Expense' name="expense_date" id="expense_date" type="text" class='datepicker'>
                                <label for="expense_date">Expense Date</label>
                            </div>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Add Expense
                                <i class="material-icons right">add_circle</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="section">
            <div class="row">
                <div class="container">
                    <div class="col s6">
                        <table class="striped centered responsive-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for expense_item in expense_items %}
                                <tr>
                                    <td>{{ expense_item.expense_name }}</td>
                                    <td>{{ expense_item.cost }}</td>
                                    <td>{{ expense_item.date_added}}</td>
                                    <td></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col s6">
                        <img class='responsive-img' src= "{% static 'budget_app/expense.jpg' %}">
                    </div>
                </div>
        </div>

            
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format:'yyyy-mm-dd'});
            });
        </script>
    </body>

</html>

